<IfModule mod_rewrite.c>
    # Options -MultiViews # comment here is fix for hosting Savana.cz

    RewriteEngine On
    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
